div.list_with_filter_section {margin: 0 0 20px 0;}
div.list_with_filter_section div.all_filter_item{display: none;}
div.item_bg_image {
    background-size: cover;
    background-position: center center;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
div.item_bg_image:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/****************************************/
div.search_result_empty {
    display: none;font-weight: 500;
    font-size: 22px;
    color: #6B003E;
}

div.search_sort_code {position: relative; width: 100%;}
div.search_sort_code .filter_input_area .formControl {border: none;border-radius: 0;height: 100%;}
div.search_sort_code span.fa {margin: 0 7px 0 0;font-size: 12px;}

div.filter_input_area {position: relative;width: 100%;height: 50%;margin: 0 auto;border: 4px solid #DDD;}
div.filter_input_area:first-child {border-bottom-width: 2px;}
div.filter_input_area:last-child {border-top-width: 2px;}
div.filter_input_area > * {border-right: 4px solid #DDD;}
div.filter_input_area > *:last-child {border-right: none;}
/****************************************/
div.spinner_loading {position: absolute;z-index: 1111;left: 0;right: 0;top: 0;bottom: 0;background-color: #FFFD;}
div.spinner_loading > div {height: 100%;}
div.icon_loader {
    display: flex !important;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 40px;
    z-index: 11111;
    position: relative;
}
div.icon_loader_xs {
    display: flex !important;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 20px;
    z-index: 11111;
    position: relative
}

.pagination_area .ellipse_left,
.pagination_area .ellipse_right {
    min-width: 50px;background-color: #FFF;
}
.pagination_area .ellipse_left > div,
.pagination_area .ellipse_right > div {
    width: 100%;height: 100%;
    display: -webkit-flex;display: flex;
    -webkit-justify-content: center;justify-content: center;
    -webkit-align-items: center;align-items: center;
}
.pagination_area [class*="Button"] {
    padding: 0 15px;
    font-size: 18px;
    cursor: pointer;
    min-width: 150px;
    height: auto;
    min-height: 40px;
    -webkit-appearance: button;
    overflow: visible;
    display: -webkit-flex;display: flex;
    -webkit-justify-content: center;justify-content: center;
    -webkit-align-items: center;align-items: center;
    border-radius: 5px;
    font-weight: 500;
}
.pagination_area [class*="Button"]:hover{opacity: 0.8;}
.pagination_area button.pagination_load_more {border:none;}
.pagination_area button[class*="defaultButton_xs"] {
    min-width: 50px;
    padding: 0;
}
.pagination_area button[class*="defaultButton_xs"]:first-child {border: none;}
.pagination_area button[class*="defaultButton_xs"]:last-child {border-radius: 0 5px 5px 0 !important;}
.pagination_area button[class*="defaultButton_xs"].active_pagination {
    color: #000;
    background-color: #DDD;
}

.pagination_area .ellipse_left {display: none;}
.pagination_area button[disabled] {cursor: not-allowed;opacity: 0.8;background-color: #DDD;}
/****************************************/
.list_with_filter_section div.buttonGroup [class*="Button"] {
    border: none;
    border-left: 2px solid #DDD;
    border-radius: 0;
}
.list_with_filter_section div.buttonGroup {
    position: relative;
    border: 0;
    border-radius: 5px;
    display: -webkit-flex;
    display: flex;
}
div.buttonGroup [class*="Button"]:first-child {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border-left: none;
}
.list_with_filter_section .flexEqual {display: -webkit-flex;display: flex;}
div.buttonGroup > *,
.list_with_filter_section .flexEqual > * {
    -webkit-flex: 1;-ms-flex: 1;flex: 1;
}
.list_with_filter_section .circleIcon_xs {
    width: 25px;height: 25px;min-width: 25px;
    background-color: #FF5959;
    color: #FFF;
    display: -webkit-flex;display: flex;
    -webkit-justify-content: center;justify-content: center;
    -webkit-align-items: center;align-items: center;
}
.list_with_filter_section .sort_code_search_box {
    display: -webkit-flex;
    display: flex;
    border: 1px solid #DDD;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 5px;
}
.list_with_filter_section .sort_code_search_box label {display: block; margin: 0;}
.list_with_filter_section [class*="defaultButton"] { color: #FFF;}
.list_with_filter_section [class*="defaultButton_xs"] {min-width: auto;padding: 7px;font-size: 16px;}
.list_with_filter_section .search_sort_code_area {margin: 15px 0;}
.list_with_filter_section .formControl {
    display: -webkit-flex;display: flex;
    -webkit-align-items: center;align-items: center;
    -webkit-flex-wrap: nowrap;flex-wrap: nowrap;
    width: 100%;
    font-size: 14px;
    min-width: auto;max-width: inherit;
    padding: 7px;
    margin: 0;
    color: #555;
    line-height: 1.25;
    background: rgba(255, 255, 255, .99);
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1) inset;
    border: 1px solid #CCC !important;
    height: 40px !important;
}
.list_with_filter_section .formControl:-webkit-autofill,
.list_with_filter_section .formControl:-webkit-autofill:hover,
.list_with_filter_section .formControl:-webkit-autofill:focus,
.list_with_filter_section .formControl:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}
.list_with_filter_section .alignCenter {
    display: -webkit-flex;display: flex;
    -webkit-align-items: center;align-items: center;
    -webkit-flex-wrap: nowrap;flex-wrap: nowrap;
}
.list_with_filter_section .allCenter {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.list_with_filter_section label{position: relative;}
.list_with_filter_section span.filter_date_icon{position: absolute;top: 0;right: 0; padding: 7px 5px; bottom: 0; margin: 5px; color: #ddd;cursor:pointer;}