:root{
	--mpev-primary:#F12971;
	--mpev-dark:#303030;
	--mpev-gray:#d3d3d3;
	--mpev-light:#f2f2f2;
	--mpev-green:#32c1a4;
	--mpev-red:#ed5a54;
	--mpev-orange:#ffbe00;
	--mpev-white:#ffffff;
	--mpev-black:#000000;
	--mpev-purple:#9013fe;
}
/******************************************************************** Global settings ************************************************/
@media only screen and (min-width: 10px) {
	div.mp_settings_panel {overflow: hidden;position: relative;display: -webkit-flex;display: flex; line-height: 1.4;border: 1px solid var(--mpev-gray);}
	div.mp_settings_panel tr.seat_reserved_order_status fieldset,
	div.mp_settings_panel tr.mep_email_sending_order_status fieldset {display: -webkit-flex;display: flex; -webkit-flex-wrap: wrap;flex-wrap: wrap;}
	div.mp_settings_panel tr.seat_reserved_order_status fieldset label,
	div.mp_settings_panel tr.mep_email_sending_order_status fieldset label {min-width: 150px;margin: 0 var(--dMP_xs) var(--dMP_xs) 0;}
	/*******************/
	.mp_settings_panel_header {
		background-color: var(--mpev-primary);
		padding:15px;
		margin-top: 50px;
	}
	.mp_settings_panel_header h3{
		color: var(--mpev-white);
		font-size: 18px;
		font-weight: 700;
		color: var(--mpev-white);
		border: none;
		padding: 0;
		margin: 0;
	}

	.mp_settings_panel_header small {margin-left: 10px;font-size: 13px;}
	.mp_settings_panel ul.nav-tab-wrapper {
		color: var(--mpev-white);
		padding: 25px 0 25px 25px;
		background-color: var(--mpev-light);
		min-width: 300px;
		max-width: 320px;
		overflow: hidden;
	}

	.mp_settings_panel ul.nav-tab-wrapper li{
		color: var(--mpev-dark);
		font-weight: normal;
		display: flex;
		align-items: center;
		padding: 12px 15px;
		margin: 0;
		cursor: pointer;
		color: var(--mpev-dark);
		position: relative;
		font-size: 16px;
		font-weight: normal;
		border-left: 2px solid transparent;
		transition: all 350ms ease-in-out;
		position: relative;
	}
	.mp_settings_panel ul.nav-tab-wrapper li::after{
		width: 90%;
		height: 100%;
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		border-bottom: 1px solid var(--mpev-gray);
	}
	.mp_settings_panel ul.nav-tab-wrapper li  i{
		color: var(--mpev-primary);
	}
	.mp_settings_panel .nav-tab {
		color: #FFF;
		background-color: transparent;border: none;
		float: initial;
		transition: 0.2s;
	}
	.mp_settings_panel .nav-tab i,
	.mp_settings_panel .metabox-holder h2 i{margin: 0 var(--dMP_xs) 0 0;}
	.mp_settings_panel ul.nav-tab-wrapper li:hover {
		background-color: var(--mpev-white);
		color: var(--mpev-dark);
		border-left: 2px solid var(--mpev-primary);
		transition: 0.2s;
	}
	.mp_settings_panel ul.nav-tab-wrapper li:hover::after {
		width: 100%;
	}
	.mp_settings_panel ul.nav-tab-wrapper li.nav-tab-active { 
		background-color: var(--mpev-white);
		color: var(--mpev-dark);
		border-left: 2px solid var(--mpev-primary);
	}
	.mp_settings_panel ul.nav-tab-wrapper li.nav-tab-active::after { 
		width: 100%;
	}
	.mp_settings_panel .metabox-holder {
		background: #FFF;
		margin: 0;
		width: calc(100% - 300px);
		background-color: var(--mpev-white);
		padding: 2%;
	}
	.mp_settings_panel .metabox-holder .bg-light {
		border: 1px solid var(--mpev-gray);
		padding: 20px;
		border-bottom: 0;
		margin-top: 50px;
	}
	.mp_settings_panel .metabox-holder .bg-light h2 {
		margin: 0;
		color: var(--mpev-primary);
	}
	.mep_settings_icon{display: flex;justify-content: start;align-items: center;gap:10px;}
	.mp_settings_panel select {min-width: 150px;}
	.mp_settings_panel table {width: 100%;overflow: hidden; border: 1px solid #DDD;}
	.mp_settings_panel table,
	.mp_settings_panel table td,
	.mp_settings_panel table th {border-collapse: collapse;}
	.mp_settings_panel table th {width:50%;padding: 10px 10px;font-size: 16px;text-align: left;font-weight: normal;vertical-align: middle;color: var(--mpev-dark);}
	.mp_settings_panel table td {padding: 5px 10px;font-size: 14px;}
	.mp_settings_panel table tr:nth-child(even) {background-color: #F2F2F2;}
	.mp_settings_panel p.submit {text-align: right; margin: 20px 0 0 0; padding: 0;}
	div.mpStyle .description,
	.mp_settings_panel .description {display: block;font-weight: normal;font-size: var(--fs_small) !important;color: #666;}
	div.mpStyle .description span,
	.mp_settings_panel .description span {margin: 0 var(--dMP_xs) 0 0;}
	.mp_settings_panel .description strong {color: var(--mpev-primary);}
	.mp_settings_panel p.submit input {
		font-size: 16px;
		padding: 5px 30px;
		border-radius: 0;
		background: var(--mpev-primary);
		border-color: var(--mpev-primary);
		transition: 0.2s;}
	.mp_settings_panel p.submit input:hover {
		background: var(--mpev-primary);
		border-color: var(--mpev-primary);
		opacity: .8;
	}
	.mp_settings_panel #setting-error-tgmpa {order: 0;width: 100%}
	.mp_settings_panel .notice {display: none;}
	div.mp_settings_panel .formControl {max-width: 320px;}
	.mp_settings_panel table thead th {background-color: var(--color_light);}
	.mp_settings_panel .select2-container {max-width: 320px;}
	.mp_settings_panel .selection {width: 100%;}
	.mp_settings_panel .metabox-holder table { border-collapse: collapse;}
	.mp_settings_panel .metabox-holder table td,
	.mp_settings_panel .metabox-holder table th { padding: 10px;}
	.mp_settings_panel .metabox-holder table tr:nth-child(even) { background-color: #f8f8f8;}
	.mp_settings_panel .metabox-holder table tr:nth-child(odd) { background-color: #FFF;}
}
/******************************************************************** Meta tab settings ************************************************/
@media only screen and (min-width: 10px) {
	#mp_meta_box_panel .tabLists {border-right: 1px solid var(--color_border);}
	/************************************/
	#mp_meta_box_panel table {table-layout: fixed;border-collapse: collapse;border: 1px solid #F5F5F5;}
	#mp_meta_box_panel table tr:nth-child(even) {background-color: #0CB32612;}
	#mp_meta_box_panel table tr:nth-child(odd) {background-color: #FFF;}
	#mp_meta_box_panel table th,
	#mp_meta_box_panel table td {border: 0;vertical-align: top;padding: 5px;}
	#mp_meta_box_panel table th {text-align: center;font-size: var(--fs_h6);font-weight: 600;}
	#mp_meta_box_panel table tbody th {text-align: left;}
	#mp_meta_box_panel table tbody thead th {text-align: center;}
	/************************************/
	#mp_meta_box_panel .mpStyle .roundSwitch { min-width: 60px;}
	#mp_meta_box_panel {margin: 15px 0;}
	#mp_meta_box_panel .inside,
	#mp_meta_box_panel .form-section {margin: 0;padding: 0;}
	#mp_meta_box_panel .postbox-header { background-color: #1D2327;}
	#mp_meta_box_panel .postbox-header h2 {color: #FFF;font-size: 18px;-webkit-justify-content: flex-start;justify-content: flex-start;}
	#mp_meta_box_panel .postbox-header h2 span {margin: 0 7px 0 0;}
	#mp_meta_box_panel .wp-editor-wrap {width: 100%;}
}
/******************************************************************** Image upload  ************************************************/
@media only screen and (min-width: 10px) {
	div.mp_multi_image { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap;}
	div.mp_multi_image_item { position: relative; width: calc(19% - 5px); min-width: 130px;margin: 0 10px 5px 0;min-height: 50px;gap:5px;}
	div.mp_multi_image_item img{width:100%;height:120px;}
	span.mp_remove_single_image,
	div.mpStyle span.mp_remove_multi_image { cursor: pointer; position: absolute; top: 0; right: 0; background-color: var(--color_danger);margin: 0; opacity: 0;color: var(--color_white) }
	div.mp_single_image_item:hover span.mp_remove_single_image,
	div.mp_single_image_item:hover span.mp_remove_single_image:hover,
	div.mp_multi_image_item:hover span.mp_remove_multi_image {opacity: 0.9;}
	div.mp_add_single_image {max-width: 150px;width: 100%;}
	div.mp_single_image_item {position: relative; width: 100%;}
}
/******************************************************************** add Icon image ************************************************/
@media only screen and (min-width: 10px) {
	div.mp_add_icon_image_area {border: 1px solid var(--color_theme);position: relative;max-width: 120px;}
	div.mp_add_icon_image_area img {max-height: 100px;}
	div.mpStyle div.mp_add_icon_image_area button {padding: 5px;font-size: 12px;}
	div.mp_add_icon_image_area button span {margin: 0 5px 0 0;}
	div.mpStyle div.mp_add_icon_image_area img {border-radius: 0;}
	div.mp_add_icon_image_area div.mp_icon_item {padding: var(--dMP_xs);background-color: var(--color_light);font-size: 40px;}
	div.mp_icon_item:hover .mp_remove_icon,
	div.mp_image_item:hover .mp_remove_icon {opacity: 1;}
	div.mp_add_icon_popup .popupHeader {
		color: #FFF;height: 60px;
		margin: 0 auto;width: 100%;background-color: #222;position: relative;
		border-bottom: 1px solid #FFF;
	}
	div.mp_add_icon_popup .popupHeader h2 {
		color: #FFF;text-align: center;
		font-size: 30px !important;
		font-weight: 500;
	}
	div.mp_add_icon_popup .popupBody {padding: 0;}
	div.mp_add_icon_popup ul.popupIconMenu {
		min-width: 270px;background-color: #222;margin: 0;
		max-height: calc(100vh - var(--dMP) - var(--dMP) - 60px);
		overflow: hidden auto;
	}
	div.mp_add_icon_popup .popupIconMenu li {
		padding: 7px 15px;margin: 0;
		border-bottom: 1px solid #DDD;
		color: #FFF;font-size: 16px;display: block;cursor: pointer;
		position: relative;
		font-weight: 500;
	}
	div.mp_add_icon_popup .popupIconMenu li strong {color: #9F6C8A;}
	div.mp_add_icon_popup .popupIconMenu li.active {background-color: #E3A939;}
	div.mp_add_icon_popup .popupIconMenu li:hover {color: #E3A939;}
	div.mp_add_icon_popup .popupIconMenu li.active:hover {color: #FFF;}
	div.mp_add_icon_popup .popup_all_icon {
		width: 100%;padding: 10px;background-color: #FFF;
		max-height: calc(100vh - var(--dMP) - var(--dMP) - 60px);
		overflow: hidden auto;
	}
	div.mp_add_icon_popup .popup_all_icon .popupTabItem {width: 100%;}
	div.mp_add_icon_popup .popup_all_icon .itemIconArea {
		width: 100%;
		display: -webkit-flex;display: flex;
		-webkit-flex-wrap: wrap;flex-wrap: wrap;
	}
	div.mp_add_icon_popup .iconItem {
		width: 60px;height: 60px;font-size: 30px;margin: 7px;cursor: pointer;
		border: 2px solid #FFF;background-color: #F2F2F2;
		-webkit-box-shadow: 0 1px 4px 1px #DBDBDB;
		box-shadow: 0 1px 4px 1px #DBDBDB;
	}
	div.mp_add_icon_popup .iconItem.active,
	div.mp_add_icon_popup .iconItem:hover {border-color: var(--color_theme);color: var(--color_theme);border-radius: 5px;}
	/************* font***************/
	div.mp_add_icon_popup .iconItem,
	div.mp_add_icon_popup .popupIconMenu li {
		-webkit-transition: 350ms ease-in-out;
		-moz-transition: 350ms ease-in-out;
		-o-transition: 350ms ease-in-out;
		transition: 350ms ease-in-out;
	}
}
/********************************************************************Admin layout ************************************************/
@media only screen and (min-width: 10px) {
	.mpStyle .adminLayout,
	.mpStyle [class*="_adminLayout"] {padding: 50px;max-width: 1000px;margin: 100px auto;background-color: #FFF;border: 1px solid var(--color_border);border-radius: var(--dBRL);}
	div.mpStyle .adminLayout th,
	div.mpStyle .adminLayout td,
	div.mpStyle [class*="_adminLayout"] th,
	div.mpStyle [class*="_adminLayout"] td {text-align: left;font-size: var(--fs_h5);}
}
/********************************************************************  ************************************************/
@media only screen and (min-width: 10px) {
	div.mpStyle .info_text {display: block;font-weight: normal;font-size: var(--fs_small);color: #666;}
	div.mpStyle .info_text span {margin: 0 5px 0 0;}
}
.mp_tab_item,
#mp_event_all_info_in_tab{overflow: inherit !important;}
.mp_tab_details {
	width: calc(100% - 275px) !important;
	padding: 20px 50px !important;
	overflow: hidden !important;
}
div.mp_ticket_type_table_auto{overflow-x: auto;}

div.mp_ticket_type_table_auto #repeatable-fieldset-one-t th {
    background-color: #F1F1F1;
    font-size: 12px;
    padding: 7px 5px;
    border-right: 1px solid #d9d4d4;
    text-align: center;
}

div.mp_ticket_type_table_auto #repeatable-fieldset-one-t td {
    padding: 5px;
    border-right: 1px solid #d7d0d0;
}
div.mp_ticket_type_table #repeatable-fieldset-one th {
    background-color: #F1F1F1;
    text-align: left;
    font-size: 12px;
    padding: 7px 5px;
}

#mp_event_all_info_in_tab .mp_formControl {
    font-size: 12px !important;
    background: #f5f8ff;
    font-weight: 400 !important;
}

div.mpStyle .formControl.date_type {
    background: #f5f8ff;
}
div.mpStyle .formControl.date_type, div.mpStyle .formControl[type=date], div.mpStyle .formControl{
background: #f5f8ff;	
}
#mp_event_all_info_in_tab .mp_formControl {
    font-size: 12px !important;
    width: 96% !important;
	min-width: 100px !important;
}
#mp_event_all_info_in_tab .mpwem_faq_save_close, #mp_event_all_info_in_tab  .mpwem_timeline_save_close{
	background-color: var(--mpev-primary);
	color: var(--mpev-white);
}
#mp_event_all_info_in_tab .mpwem_faq_save, #mp_event_all_info_in_tab  .mpwem_timeline_save{
	background-color: var(--mpev-primary);
	color: var(--mpev-white);
}