.mep-event-faq-part{
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin-bottom: 20px;
    .faq-title-section{
        background: linear-gradient(135deg, #4169e1, #3b5fe2);
        color: white;
        padding: 20px 25px;
        font-size: 18px;
        font-weight: 600;
    }
    .faq-body{
        .mep-event-faq-set{
            margin-bottom: 10px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            border-bottom: 1px solid #eaeaea;
            &:last-child{
                border-bottom: 0;
                box-shadow: none;
            }

            .faq-question {
                padding: 18px 25px;
                background-color: white;
                font-weight: 600;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.3s ease;
                color:#333;
                
                i{
                    color:#3b5fe2;
                }
            }
            .mep-event-faq-content{
                padding: 18px 25px;
            }
        }
    }
}