.mpwem_slider_area{
    margin-top: 0;
}

.mep-event-faq-part{
    background: white;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.08);
    .faq-title-section{
        background: linear-gradient(135deg, #f7f7f7, #f7f7f7);
        color: #333;
        padding: 20px 25px;
        font-size: 18px;
        font-weight: 600;
    }
    .faq-body{
        .mep-event-faq-set{
            margin-bottom: 10px;
            border-radius: 8px;
            overflow: hidden;
            border-bottom: 1px solid #eaeaea;
            &:last-child{
                border-bottom: 0;
            }

            .faq-question {
                padding: 18px 25px;
                background-color: white;
                font-weight: 600;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.3s ease;
                color:#333;
                
                i{
                    color:#3b5fe2;
                }
            }
            .mep-event-faq-content{
                padding: 18px 25px;
            }
        }
    }
}

.mep-default-map{
    background: white;
    border-radius: 12px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin-bottom: 20px;
    .map-title{
        background: linear-gradient(135deg, #f7f7f7, #f7f7f7);
        color: #333;
        padding: 20px 25px;
        font-size: 18px;
        font-weight: 600;
    }
    .display-map{
        padding: 20px 25px;
    }
}