
/********FrankLin Theme(theme - 2)**********************/
.franklin_divided_left {
	width: 70%;
}
.franklin_divided_sidebar {
	width: 30%;
}
.franklin_divided_sidebar_bac {
	margin: 0 0 0 30px;
	background-color: #F2F2F2;
	overflow: hidden;
}
.franklin .mep-default-feature-content {
	margin: 0 0 20px 0;
}
.franklin .mep-default-sidrbar-price-seat {
	border-bottom: 1px solid #DDD;
}