
.mep-kera-theme{
    .tabLists{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
        gap: 20px;
        @media (min-width: 768px){
            flex-direction: row;
        }
        .mep-pricing-card{
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            width: 100%;
            @media (min-width: 768px){
                width: 32%;
            }
            &[data-tabs-target]{
                display: block;
                position: relative;
                cursor: pointer;
                padding: 20px;
                background-color: #650c7a;
                color: #fff;
                font-weight: var(--fw-medium);
                transition: .5ms ease-in-out;
                &.active{
                    background-color: #ed2a92;
                    
                }
            }
            .mep-pricing-header{
                text-align: center;
                h2{
                    color: #fff;
                    font-size: 35px;
                }
                h3{
                    color: #fff;
                }
            }
            .mep-ticket-type{
                background-color: #4f0b5e;
                padding:20px 10px;
                margin:30px auto;
                border-radius: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                h2{
                    background-color: #ed2a92;
                    color: #fff;
                    text-align: center;
                    padding: 12px;
                    font-size: 18px;
                    font-weight: bold;
                    border-radius: 30px;
                    margin:20px;
                }
                .label{
                    color: #ed2a92;
                    margin-bottom: 10px ;
                }
                h3{
                    margin:20px;
                    text-align: center;
                    font-size: 16px;
                    color: #fff;
                }
                p{
                    text-align: center;
                    font-size: 14px;
                    margin: 15px 0;
                    color: #fff;
                }
                ul {
                    list-style-position: inside; /* Move bullets inside */
                    text-align: center;           /* Center text and bullet together */
                    padding: 0;                   /* Remove left padding */
                    margin: 0;                    /* Remove default margin */
                }
                ul li {
                    margin: 10px 0; 
                    &::before{
                        content: "•"; 
                        margin-right: 5px;
                    }
                }
                
            }
            
        }
        @media (min-width: 768px){
            .mep-pricing-card.active::after {
                font-family: "Font Awesome 6 Free"; /* important */
                content: "\f0d7";
                font-size: 60px;
                position: absolute;
                bottom:-38px;
                left: 50%;
                transform: translateX(-50%);
                margin-left: 8px;
                color: #ed2a92;
                transition: transform 0.3s ease;
            }
        }
        
        
    }
    .tabsContent{
        margin: 20px auto;
        padding: 0px;
        background-color: #660c7a;
        border: 2px solid #ed2a92;
        h2{
            text-align: center;
            margin-bottom: 20px;
        }
        .data-label{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ed2a92;
            padding:10px 20px;
            border-bottom: 1px solid #ed2a92;
            p{
                color: #fff;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .mpwem_ticket_type{
            background-color: #fff;
            padding: 20px;
            h6{
                font-weight: bold;
                margin-bottom:10px;
            }
            
        }
    }
}