
@media only screen and (min-width: 10px) {
	.mep_smart_theme{
		.mpwem_tile{
			color: #000;
			font-size: 40px;
		}
		.mpwem_organizer{
			margin: 20px 0;
		}
		.mpwem_location_time{
			display: flex;
			justify-content: start;
			.mpwem_location, .mpwem_time {
				i{
					width: 55px;
					height: 55px;
					background-color: var(--mpev-base);
					color:var(--mpev-base-txt);
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 25px;
					border-radius: 5px;
				}
			}
		}
		.mpwem_slider_area{
			div.superSlider{
				.sliderAllItem{
					border-radius: 15px;
				}
				.sliderShowcaseItem{
					border-radius: 15px;
				}
				.iconIndicator{
					color: var(--mpev-base);
				}
			}
		}
		
		
		.mpwem_content_area{display: -webkit-flex;display: flex;margin: 40px 0 0 0;}
		.mpwem_left_content{
			max-width: 70%;
			width: 100%;
			margin-right:2%;
			.mpwem_booking_panel{
				.mpwem_ticket_type{
					border: 2px solid var(--mpev-base-txt);
					.mep_ticket_item{
						h6{
							font-size: 24px;
							margin-bottom: 10px;
						}
					}
				}
			}
			.mpwem_form_submit_area{
				._mpBtn{
					color:var(--mpev-base-txt);
					border: 1px solid var(--mpev-base-txt);
					border-radius: 5px;
					padding:13px 25px;
				}
				button[type=submit]{
					background-color: var(--mpev-base-txt);
					border: 1px solid var(--mpev-base-txt);
				}
			}
		}
		.mpwem_right_content{
			max-width: 30%;
			width: 100%;
			.mpwem_sidebar_content{
				background-color: #fff;
				border-radius: 20px;
				box-shadow: 0 0 5px #ddd;
				padding:30px 0;
				.date_widgets,.location_widgets{
					display: flex;
					justify-content: start;
					align-items: start;
					gap: 20px;
					padding: 30px;
					border-bottom: 1px solid #ddd;
					i{
						font-size: 30px;
						padding: 20px;
						background-color: var(--mpev-base);
						color: var(--mpev-base-txt);
						border-radius: 10px;
					}
					h2{
						font-size: 19px;
						letter-spacing: 2px;
						margin-bottom: 15px;
					}
					p{
						font-size: 16px;
						margin-bottom: 5px;
					}
					button{
						background-color: #fff;
						padding:5px 10px;
						border: 1px solid var(--mpev-base-txt);
						margin-top: 20px;
						color: var(--mpev-base-txt);
						i{
							font-size: 16px;
							padding: 0;
							background: none;
							margin: 10px;
						}
					}
				}
				.share_widgets{
					text-align: center;
					padding: 30px;
				}
			}
			
		}
		.map_location{
			margin: 50px 0;
			iframe{
				margin-top: 20px;
				border-radius: 15px;
			}
		}
		.faq_area{
			background-color: #fff;
			text-align: center;
			margin: 80px auto;
			padding: 20px;
			h2{
				margin-bottom: 20px;
			}
			.faq_items{
				margin-top: 80px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				gap:10px;
				.item{
					width: 48%;
					background-color: var(--mpev-base);
					padding: 10px;
					.title{
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding:10px 20px;
						h2{
							font-size: 16px;
						}
					}
					.content{
						display: none;
					}
				}
			}
		}
		.attendee_area{
			padding: 10px;
			.attendee_lists{
				display: flex;
				justify-content: start;
				flex-wrap: wrap;
				margin: 20px 0;
				gap:14px;
				.attendee{
					width: 150px;
					background-color: var(--mpev-base);
					padding: 20px;
					border-radius: 10px;
					text-align: center;
					img{
						width: 100px;
						height: 100px;
						object-fit: cover;
						border-radius: 50px;
					}
					h2{
						font-size: 12px;
						color: #999;
					}
				}
			}
		}
		.related_events{
			margin: 20px 0;
			.related_items{
				margin-top: 20px;
				display: flex;
				justify-content: start;
				align-items: start;
				gap: 66px;
				flex-wrap: wrap;
				.item{
					width: 30%;
					background-color: var(--mpev-base);
					padding: 20PX;
					border-radius: 10px;
					box-shadow: 0 0 5px #ddd;
					img{
						width: 100%;
						height: 300px;
						object-fit: cover;
					}
					.item-info{
						display: flex;
						justify-content: space-between;
						margin-top: 20px;
						.title{
							text-align: left;
							h2{
								font-size: 16px;
							}
						}
						.price{
							text-align: right;
							h2{
								font-size: 16px;
								color: var(--mpev-base-txt);
							}
						}
					}
				}
			}
		}
	}
/*****************************/
	div.mpwem_details_content,
	div.mpwem_details_content p{line-height: 1.7 !important;color:#8D8D8D;font-size:16px !important;}
/*****************************/
	div.mpwem_ex_service,
	div.mep_attendee_info,
	div.mep_attendee_info_hidden{display: none;}
	div.mep_file_item img{height: 100%;width: auto;cursor: pointer;display: none;max-height: 100px;}
	div.mep_file_item iframe{height: 100%;width: auto;cursor: pointer;display: none;max-height: 300px;}
	.mep_attendee_info .mp_form_item{padding: 7px;}
	.mep_attendee_info .mp_form_item.mep_checkbox_item>span,
	.mep_attendee_info .mp_form_item.mep_radio_item>span,
	.mep_attendee_info .mp_form_item.mep_file_item>span,
	.mep_attendee_info .mp_form_item>label>span{min-width:200px;}
	/***************************************************/
	div.mpwem_organizer {display: -webkit-flex;display: flex;}
	div.mpwem_organizer,
	div.mpwem_organizer a{font-size: 24px;margin: var(--dMP_xs) 0 0 0;color:#878787 !important;font-weight: 400;}
	div.mpwem_location,
	div.mpwem_time{color: #393332;font-size: 18px;margin: var(--dMP_xs) var(--dMP)  0 0;	display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;}
	div.mpwem_location span,
	div.mpwem_time span{width: 55px;height: 55px;background-color: #F1F5FF;color:#6046FF;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;font-size: 25px;}
}
@media only screen and (max-width: 600px) {
}