
@media only screen and (min-width: 10px) {
	.mep_smart_theme{
		.mpwem_tile{
			color: #000;
			font-size: 40px;
		}
		.mpwem_organizer{
			margin: 5px 0;
		}
		.mpwem_location_time{
			display: flex;
			flex-direction: column;
			justify-content: start;
			@media (min-width:1024px) {
				flex-direction: row;
			}
			.mpwem_location, .mpwem_time {
				flex-wrap: wrap;
				i{
					width: 55px;
					height: 55px;
					background-color: var(--mpev-secondary);
					color:var(--mpev-primary);
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 25px;
					border-radius: 5px;
				}
			}
			.mpwem_location{
				align-items: start;
				@media (min-width:1024px) {
					align-items: center;
				}
				div{
					width: 80%;
					margin-left: 5px;
					@media (min-width:1024px) {
						width: auto;
					}
				}
			}
		}
		.mpwem_slider_area{
			div.superSlider{
				.sliderAllItem{
					border-radius: 15px;
				}
				.sliderShowcaseItem{
					border-radius: 15px;
				}
				.iconIndicator{
					color: var(--mpev-secondary);
				}
				.iconIndicator{
					color: var(--mpev-primary);
				}
			}
		}
		.mpwem_content_area{
			display: flex;
			margin: 40px 0 0 0;
			flex-direction: column;
			@media (min-width:1024px) {
				margin: 40px 0 0 0;
				flex-direction: row;
			}
		}
		.mpwem_left_content{
			max-width: 100%;
			width: 100%;
			@media (min-width:1024px) {
				max-width: 70%;
				margin-right:2%;
			}

		}
		.mpwem_right_content{
			max-width: 100%;
			width: 100%;
			@media (min-width:1024px) {
				max-width: 30%;
				width: 100%;
			}
			.mpwem_sidebar_content{
				background-color: #fff;
				border-radius: 20px;
				box-shadow: 0 0 5px #ddd;
				padding:30px 0;
				.date_widgets,.location_widgets{
					display: flex;
					justify-content: start;
					align-items: start;
					gap: 20px;
					padding: 15px;
					border-bottom: 1px solid #ddd;
					i{
						font-size: 30px;
						padding: 15px;
						background-color: var(--mpev-secondary);
						color: var(--mpev-primary);
						border-radius: 10px;
					}
					h2{
						font-size: 19px;
						letter-spacing: 2px;
						margin-bottom: 15px;
					}
					p{
						font-size: 16px;
						margin-bottom: 5px;
					}
					button{
						background-color: #fff;
						padding:13px 15px !important;
						border: 1px solid var(--mpev-primary);
						margin-top: 20px;
						color: var(--mpev-primary);
						&:hover{
							background-color: var(--mpev-secondary);
						}
						i{
							font-size: 16px;
							padding: 0;
							background: none;
							margin-right:15px;
						}
					}
				}
				.date_widgets{
					[data-read]{
						color: var(--mpev-primary);
					}
					.date-lists{
						ul{
							list-style-type:disc;
							padding-left: 22px;
							margin-bottom: 20px;
							max-height: 315px;
        					overflow: hidden;
							li{
								margin-bottom: 20px;
								&::marker {
									color: var(--mpev-primary); 
									font-size: 1.5em; 
								}
								span{
									display: block;
									margin: 0;
									font-size: 16px;
								}
								span.mep-more-time{
									display: flex;
									flex-direction: column;
									align-items: start;
									justify-content: start;
									margin-left:25px;
									margin-top: 10px;
									span{
										margin:5px 5px;
										position: relative;
										padding-left: 14px;
										&::before{
											content: '';
											width: 5px;
											height: 5px;
											border-radius: 50px;
											margin-right: 5px;
											background-color: #aaa;
											position: absolute;
											left: 0;
											top:50%;
											transform: translateY(-50%);
										}
									}
								}
							}
							&#mep_event_date_sch {
								
								li span{
									margin: 0;
									font-size: 16px;
								}
							}
						}
						i{
							display: none;
						}
						.mep_single_date_btn{
							background-color: #fff;
							color: var(--mpev-primary) !important;
							height: auto !important;
							padding:5px 10px !important;
							border-radius: var(--dBR) !important;
							border: 1px solid var(--mpev-primary);
							margin: 0 !important;
							margin-top: 20px;
							color: var(--mpev-primary);
							font-size: var(--button_fs);
							font-weight: var(--fw-medium);
							line-height: inherit;
							&:hover{
								background-color: var(--mpev-secondary);
							}
							i{
								font-size: 16px;
								padding: 0;
								background: none;
								margin-right:15px;
								display: inline-block;
							}
						}
					}
				}
				.share_widgets{
					text-align: center;
					padding: 15px;
					.mep-social-share{
						margin-top: 10px;
						li{
							margin: 7px;
							a{
								color: #fff;
							}
						}
					}
					.icons{
						margin-top: 20px;
						i{
							padding: 10px;
							background-color: var(--mpev-primary);
							width: 46px;
							height: 46px;
							border-radius: 50%;
							color: #fff;
							margin: 5px;
							font-size: 24px;
							cursor: pointer;
							border: 1px solid var(--mpev-primary);
							transition: all .4s;
							&:hover{
								background-color: var(--mpev-secondary);
								color: var(--mpev-primary);
								border: 1px solid var(--mpev-primary);
							}
						}
					}
					
				}
				#mep_add_calender_button.mep-add-calender{
					background-color: #fff;
					color: var(--mpev-primary) !important;
					height: auto !important;
					padding:13px 15px !important;
					border-radius: var(--dBR) !important;
					border: 1px solid var(--mpev-primary);
					margin-top: 0;
					color: var(--mpev-primary);
					font-size: var(--button_fs);
					font-weight: var(--fw-medium);
					line-height: inherit;
					&:hover{
						background-color: var(--mpev-secondary);
					}
					i{
						font-size: 16px;
						padding: 0;
						background: none;
						margin-right:15px;
					}
				}
			}
			.speaker-widget{
				margin-top: 50px;
				h2{
					text-transform: capitalize;
				}
				.speaker-lists{
					background-color: #fff;
					border-radius: 20px;
					box-shadow: 0 0 5px #ddd;
					.items{
						display: flex;
						flex-direction: row;
						justify-content: start;
						align-items: center;
						gap: 20px;
						padding: 20px;
						border-bottom: 1px solid #ddd;
						&:last-child{
							border-bottom: 0;
						}
						img{
							width: 70px;
						}
						h2{
							font-size: 19px;
							letter-spacing: .04em;
							color: #333;
						}
					}
				}
			}
		}
		.map_location{
			margin: 50px 0;
			iframe{
				margin-top: 20px;
				border-radius: 15px;
				height: 450px;
			}
		}
		.faq_area{
			background-color: #f8fafc;
			text-align: center;
			margin: 40px auto;
			padding:10px;
			border-radius: 10px;
			@media (min-width:1024px) {
				padding:40px;
				margin: 40px auto;
			}

			.desc{
				width: auto;
				color: #666;
				font-size: 18px;
				line-height: 30px;
				@media (min-width:1024px) {
					width: 36vw;
					margin: auto;
				}
			}
			.faq_items{
				margin-top: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: start;
				flex-wrap: wrap;
				gap:10px;
				@media (min-width:1024px) {
					margin-top: 40px;
					flex-direction: row;
				}
				.item{
					width:100%;
					background-color: #fff;
					padding: 10px;
					box-shadow: 0 0 5px #dddddd;
					border-radius: 10px;
					@media (min-width:1024px) {
						width: 49%;
					}
					.title{
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding:20px;
						h2{
							font-size: 16px;
							margin: 0;
						}
						i{
							color: var(--mpev-primary);
						}
					}
					.content{
						display: none;
						text-align: left;
						padding: 20px;
					}
				}
			}
		}

		.attendee_area{
			margin: 10px 0;
			@media (min-width:540px) {
				margin: 50px 0;
			}
			h2{
				font-size: var(--fs_h2);
    			font-weight: var(--fw-bold);
			}
		}
		
		.mep-related-events{
			.mep-related-events-items{
				.item{
					.item-info{
						.price{
							text-align: right;
							color: #999;
							h2{
								font-size: 30px;
								color: var(--mpev-primary);
								margin: 0;
							}
						}
					}
				}
			}
		}
		
	}
	.attendee_area{
		margin: 10px 0;
		.attendees{
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			margin-top: 20px;
			.attendee_lists{
				display: flex;
				justify-content: start;
				flex-direction: row;
				flex-wrap: wrap;
				background-color: #fff;
				border-radius: 10px;
				box-shadow: 0 0 5px #f1f1f1;
				padding: 10px;
				@media (min-width:540px) {
					gap:21px;
					padding: 20px;
				}
				.attendee{
					width: 154px;
					background-color: #f9f9f9;
					padding: 20px;
					border-radius: 10px;
					text-align: center;
					@media (min-width:540px) {
						width: 160px;
					}
					img{
						width: 100px;
						height: 100px;
						object-fit: cover;
						border-radius: 50px;
					}
					h2{
						font-size: 16px;
						color: #333;
						margin: 10px 0
					}
				}
			}
		}
	}
	.mep-related-events{
		margin: 20px 0;
		position: relative;
		.related-events-header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			h2{
				margin: 0;
			}
			.related-events-navigation{
				display: flex;
				flex-direction: row;
				gap: 5px;
				button{
					border-radius: 5px;
					background-color: var(--mpev-primary);
					color: var(--mpev-secondary);
					padding: 14px;
				}
			}
		}
		.mep-related-events-items{
			margin-top: 20px;
			
			
			@media (min-width:540px) {
				gap: 50px;
			}
			.item{
				width: 100%;
				background-color: #fff;
				padding: 20PX;
				border-radius: 10px;
				box-shadow: 0 0 5px #ddd;
				@media (min-width:540px) {
					width: 30%;
				}
				a{
					position: relative;
					display: block;
				}
				img{
					width: 100%;
					height: 200px;
					object-fit: cover;
				}
				.mep-ev-start-date {
					position: absolute;
					top: 10px;
					left: 10px;
					line-height: 1.8;
					background: var(--mpev-secondary);
					text-align: center;
					width: 50px;
					color: var(--mpev-primary);
					font-size: 18px;
					box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.05);
					.mep-month {
						background: var(--mpev-primary);
						color: var(--mpev-secondary);
						text-transform: uppercase;
					  }
				}
				.item-info{
					display: flex;
					justify-content: space-between;
					margin-top: 20px;
					.title{
						text-align: left;
						color: #999;
						h2{
							font-size: 15px;
							font-weight: bold;
							color: #333;
						}
					}
					.price{
						text-align: right;
						color: #999;
						h2{
							font-size: 30px;
							color: var(--mpev-primary);
							margin: 0;
						}
					}
				}
			}
		}
	}
	.slick-slide {
		margin: 10px 10px; 
		padding: 0 10px;
		box-sizing: border-box; 
		display: flex;
		align-items: stretch;
	}
	.slick-slide > div {
		flex: 1;
		min-height: 100px; 
		display: flex;
		justify-content: center;
		align-items: center; 
	}
	.slick-dots li.slick-active button::before{
		
			color: var(--mpev-primary);
		
	}
/*****************************/
	div.mpwem_details_content,
	div.mpwem_details_content p{line-height: 1.7 !important;color:#8D8D8D;font-size:16px !important;}
/*****************************/
	div.mpwem_ex_service,
	div.mep_attendee_info,
	div.mep_attendee_info_hidden{display: none;}
	div.mep_file_item img{height: 100%;width: auto;cursor: pointer;display: none;max-height: 100px;}
	div.mep_file_item iframe{height: 100%;width: auto;cursor: pointer;display: none;max-height: 300px;}
	.mep_attendee_info .mp_form_item{padding: 7px;}
	.mep_attendee_info .mp_form_item.mep_checkbox_item>span,
	.mep_attendee_info .mp_form_item.mep_radio_item>span,
	.mep_attendee_info .mp_form_item.mep_file_item>span,
	.mep_attendee_info .mp_form_item>label>span{min-width:200px;}
	/***************************************************/
	div.mpwem_organizer {display: -webkit-flex;display: flex;}
	div.mpwem_organizer,
	div.mpwem_organizer a{font-size: 24px;margin: var(--dMP_xs) 0 0 0;color:#878787 !important;font-weight: 400;}
	div.mpwem_location,
	div.mpwem_time{color: #393332;font-size: 18px;margin: var(--dMP_xs) var(--dMP)  0 0;	display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;}
	div.mpwem_location span,
	div.mpwem_time span{width: 55px;height: 55px;background-color: #F1F5FF;color:#6046FF;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;font-size: 25px;}
}
@media only screen and (max-width: 600px) {
}