.mep-default-sidrbar-events-schedule {
    padding: 15px;
    .sidrbar-events-schedule-title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom:10px;
    }
    #mep_event_date_sch{
        margin-bottom: 20px;
    }
    ul.mep_event_date_sch{
        margin-left: 10px;
        max-height: 315px;
        overflow: hidden;
        
        li{
            border: 1px solid #ccd6e2;
            background-color: #f8fafc;
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: start;
            position: relative;	
            padding-left: 25px;
            margin-bottom:10px;
            border-radius: 12px;
            transition: all 0.3s ease;
            &::before{
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50px;
                position: absolute;
                top:18px;
                left:10px;
                background-color: var(--mpev-base);
            }
            &:hover{
                border-color: #cbd5e1;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
                transform: translateY(1px);
            }
            a {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: column;
                flex-direction: column;
                color: inherit;
            }
            span{
                display:flex;
                &.mep-more-date{
                    margin: 0;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                &.mep-more-time{
                    display: flex;
                    flex-direction: column;
                    gap:5px;
                }
            }
            .mep_date_scdl_start_datetime{
                font-weight: bold;
                margin-bottom: 10px;
            }
            
            i{
                background: var(--mpev-base);
                color: var(--mpev-base-txt);
                background:  var(--mpev-base-txt);
                color:  var(--mpev-base);
                width: 36px;
                height: 36px;
                font-size: 14px;
                display: inline-flex;
                width: 20px;
                height: 20px;
                font-size: 11px;
            }
        }
    }
}
