.mep-timeline {
    margin-top:30px;
    margin-bottom:50px;
    .section-title{
        font-size: 24px;
        font-weight: bold;
        margin: 30px 0;
    }
    .timeline{
        position: relative;
        padding-left: 50px;
        &::before{
            content: '';
            position: absolute;
            left: 21px;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: #e0e0e0;
            z-index: 0;
        }
        .timeline-item {
            position: relative;
            padding-bottom: 20px;
            transition: transform 0.3s ease;
            &:hover {
                transform: translateY(-5px);
            }
            &:last-child{
                padding-bottom:0;
            }
            .timeline-point {
                position: absolute;
                left: -50px;
                top: 0;
                width: 42px;
                height: 42px;
                background-color: #ffffff;
                border: 2px solid var(--mpev-primary);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                color: var(--mpev-primary);
                font-size: 16px;
                z-index: 2;
                }
            }
            .timeline-content {
                background-color: #ffffff;
                border-radius: 12px;
                padding:15px 20px;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
                transition: transform 0.3s ease;
                
                .timeline-title {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    color: #212121;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .timeline-time{
                        font-size: 14px;
                        color: var(--mpev-primary);
                        font-weight: 500;
                        padding: 6px 12px;
                        background-color: var(--mpev-secondary);
                        border-radius: 20px;
                    }
                }

                .timeline-details {
                    font-size: 14px;
                    color: #616161;
                }
            }
        }
    }
