:root{
	--mpev-primary:#f12971;
	--mpev-dark:#303030;
	--mpev-gray:#d3d3d3;
	--mpev-light:#f2f2f2;
	--mpev-green:#32c1a4;
	--mpev-red:#ed5a54;
	--mpev-orange:#ffbe00;
	--mpev-white:#ffffff;
	--mpev-black:#000000;
	--mpev-purple:#9013fe;
}