@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import "include/variable.css";
@import "include/general.css";
@import "include/grid.css";
@import "include/font-size.css";
@import "include/button.css";
@import "include/loader.css";
@import "include/default.css";
@import "include/helper.css";
@import "include/flex.css";
@import "include/shadows.css";
@import "include/radious.css";
@import "include/icons.css";
@import "include/color.css";
@import "include/media.css";
@import "include/menu.css";
@import "include/click-slider.css";
@import "include/popup.css";
@import "include/form.css";
@import "include/list.css";
@import "include/table.css";
@import "include/tabs.css";
@import "include/faq.css";
@import "include/info.css";
@import "include/content.css";
@import "include/custom.css";
@import "include/responsive.css";
@import "include/cart.css";
.mage-event-welcome {
    background: #fff;
    padding: 20px;
    border-radius: 0;
    margin: 1px;
}

h2.nav-tab-wrapper.mage-event-welcome-tab {
    border: 0;
}

h2.nav-tab-wrapper.mage-event-welcome-tab a.nav-tab {
    background: #0080F0;
    border-radius: 0;
    border: none;
    margin-left: 0;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    margin: 1px;
    font-weight: 400;
}

h2.nav-tab-wrapper.mage-event-welcome-tab a.nav-tab.nav-tab-active {
    background: #fff;
    color: #000;
}

header.mageStyle h2,
header.mageStyle h3 {
    color: #fff;
}

header.mageStyle {
    padding: 0;
    margin-bottom: -6px;
}

.addon_list_sec .mep_addon_list li img {
    max-width: 100%;
    width: auto;
}

.addon_list_sec .mep_addon_list li {
    display: inline-block!important;
    float: left;
    margin: 10px!important;
    min-height: 460px;
    padding: 0px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 31.2%!important;
    box-shadow: 3px 4px 5px #d9e1e7;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
}

.addon_list_sec .mep_addon_list li a {
    display: block;
    background: #0000b5;
    color: #fff;
    width: max-content;
    margin: 0 auto;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.addon_list_sec .mep_addon_list li h3 {
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
}

.addon_list_sec .mep_addon_list li p {
    padding: 0 15px;
    font-size: 12px;
}

.addon_list_sec .mep_addon_list li h4 {
    color: #ED3237;
    font-size: 16px;
    padding: 10px;
}

[class^="mageStyle"] h3.mep_welcome_title {
    font-size: 25px;
    margin-bottom: 15px;
}

.mep_welcome_page_wrapper p {
    font-size: 14px;
    margin-bottom: 10px;
}

.mep_welcome_btns_wrapper {
    margin-top: 20px
}

[class^="mageStyle"] a.mep_welcome_btn {
    border: 0;
    padding: .375rem .75rem;
    color: #fff;
}

[class^="mageStyle"] img.mep_welcome_pro_img {
    width: 300px;
    margin: auto;
    display: block;
}

.mep_bn_btn {
    background-color: #0E092C;
}

.mep_vd_btn {
    background-color: #042647;
}

.mep_doc_btn {
    background-color: #430447;
}

.mep_welcome_pro_features_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mep_welcome_divider {
    border-bottom: 2px solid;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

[class^="mageStyle"] .mep_welcome_pro_feature {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.mep_welcome_pro_feature_icon,
.mep_welcome_pro_feature_title {
    padding: 10px;
}

.mep_welcome_pro_feature_title h4 {
    font-size: 16px;
}

.mep_welcome_pro_feature_icon {
    background: #828282;
    color: #fff;
    font-size: 20px;
    min-width: 40px;
    max-width: 20px;
    text-align: center;
}

.mep_welcome_pro_feature {
    background: #f4f4dc;
}

.mep_welcome_pro_features_heading {
    margin-bottom: 30px;
}

[class^="mageStyle"] .mep_welcome_pro_features_wrapper [class*="col_4"] {
    display: inline-block;
    margin-bottom: 5px;
}

.widget .mep_welcome_pro_addons_heading h3 {
    font-size: 25px;
}

.mep_welcome_pro_addons_wrapper .mep_welcome_divider {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mep-color-l-r {
    color: #ED3237;
}

.mep_welcome_pro_addons {
    margin-top: 30px;
}

.getPro .mep_welcome_dflex {
    display: flex;
    text-align: left;
    align-items: center;
    align-content: center;
}

.getPro h2 {
    text-align: left;
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

.getPro {
    background: #313131;
    padding: 20px;
}

[class^="mageStyle"] .getPro [class*="customButton"] {
    margin-bottom: 0;
}

[class^="mageStyle"] div.mep_import_dflex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    align-items: flex-start;
    align-content: center;
}

.unlimited_section .mep_import_dflex .textContent h4 {
    margin-top: 15px;
}

[class^="mageStyle"] span.mep_import_step {
    color: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    background-image: linear-gradient(180deg, #00e31d, #00c0ce);
    box-shadow: 0 15px 30px 0 rgba(0, 101, 6, .08);
}

.mep_download_btn {
    display: block;
    width: max-content;
    background: #007cf5;
    border-radius: 3px;
    color: #fff !important;
    padding: 10px 15px;
    transition: 0.2s;
    margin-top: 10px;
}

.mep_demo_btn {
    display: block;
    width: max-content;
    background: #007cf5;
    border-radius: 3px;
    color: #fff !important;
    padding: 10px 15px;
    margin: auto;
}

.mep_import_step_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

[class^="mageStyle"] table.mep_shortcode_table {
    width: 100%;
}

[class^="mageStyle"] table.mep_shortcode_table th,
[class^="mageStyle"] table.mep_shortcode_table td {
    padding: 8px;
    text-align: left;
}

[class^="mageStyle"] table.mep_shortcode_table thead {
    background-color: #f1f9ff;
}

[class^="mageStyle"] table.mep_shortcode_table th:last-child {
    width: 15%;
}

[class^="mageStyle"] table.mep_shortcode_table p {
    color: #273b5e;
}

.mep_shortcode_table code {
    background-color: #e3e3e3;
    padding: 5px;
    font-weight: 400;
    border-radius: 5px;
    font-size: 16px;
    display: block;
}

.mep_shortcode_table_wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

.mep_shortcode_wrapper {
    width: 100%;
}

.mep_welcome_pro_badge {
    background: #ee1515;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.pb-0 {
    padding-bottom: 0;
}

#mep_welcome_accordion {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .mep_welcome_page_wrapper {
        margin-left: 15px;
        margin-right: 15px;
    }
    [class^="mageStyle"] div.mep_import_dflex .content_area {
        width: 33%;
    }
}

@media only screen and (max-width: 600px) {
    .mep_welcome_page_wrapper {
        margin-left: 15px;
        margin-right: 15px;
    }
    [class^="mageStyle"] div.mep_import_dflex .content_area {
        width: 100%;
    }
    [class^="mageStyle"] table.mep_shortcode_table {
        width: max-content;
    }
}